.color-title {
	color: #3F4D74;
}
.text-custom{
   color: #3DB7F6;
}
.miniRoutes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.counter {
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
}

.bg-my {
	background-color: #3F4D74;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.higth-enter-active,
.higth-leave-active {
	transition: 0.5s ease;
	max-height: 400px;
	overflow: hidden;
}

.higth-enter-from,
.higth-leave-to {
	opacity: 0;
	max-height: 0;
}

.noscroll::-webkit-scrollbar {
	height: 0px;
	width: 0px;
}

.noscroll::-webkit-scrollbar-track {
	background: white;
}

.noscroll::-webkit-scrollbar-thumb {
	background-color: white;
}

.border-myblue {
	border-color: #3DB7F6;
}

.shadow-blue {
	box-shadow: 0 0 0px 2px #3db7f6;
}

.easy-transition {
	transition: .5s;
}


.elit-enter-active,
.elit-leave-active {
  transition: 0.3s ease;
}

.elit-enter-from{
   transform: translateY(20px);
   opacity: 0;
}
.elit-leave-to {
   transform: translateY(20px);
   opacity: 0;
}

.after:after{
	content: "";
	position: absolute;
	bottom: -40px;
	right: 3px;
	border: 20px solid transparent; border-top: 20px solid #3b82f6;
 }
 
 .bottom-cus{
	z-index: 100;
	bottom: 140%;
 }

 .zoom-button{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
 }
 .fade-enter-active,
 .fade-leave-active {
   transition: opacity 0.3s ease;
 }
 
 .fade-enter-from,
 .fade-leave-to {
   opacity: 0;
 }
 